<div>
<!--
	<button onClick="facebookLogin()">sign up</button>
-->
<div ng-show="showLoginForm">
  <h4>Owatterへようこそ</h4>
  <div ng-show="error" class="alert alert-danger">{{ error }}</div>

  <div style="margin:30px"><button class="btn btn-info" ng-click="login()">Twitterでログインする</button></div>

  <div ng-include="'views/description.html'"></div>
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Owatter メイン -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1525765559709019"
     data-ad-slot="9332823342"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


